<section class="banner">
    <img class="banner-image" src="assets/images/banner-main.png" alt="Alternate Text">
    <div class="container">
        <div class="banner-wrap">
            <h1 class="banner-title">Learn at your own pace</h1>
            <p class="banner-text">Courses and posts on various languages and technologies from a professional</p>
            <input class="input-search" type="text" name="search" placeholder="What would you like to learn?">
        </div>
    </div>
</section>
<section class="our-advantages">
    <div class="container">
        <h2 class="title">Our advantages</h2>
        <div class="advantages-wrap">
            <div class="advantages-block">
                <div class="advantages-icon">
                    <img src="assets/images/advantages-icon-1.svg" alt="Alternate Text">
                </div>
                <div class="advantages-content">
                    <h3>Large number of online courses</h3>
                </div>
            </div>
            <div class="advantages-block">
                <div class="advantages-icon">
                    <img src="assets/images/advantages-icon-1.svg" alt="Alternate Text">
                </div>
                <div class="advantages-content">
                    <h3>Loads of FREE helpful posts on different topics</h3>
                </div>
            </div>
            <div class="advantages-block">
                <div class="advantages-icon">
                    <img src="assets/images/advantages-icon-1.svg" alt="Alternate Text">
                </div>
                <div class="advantages-content">
                    <h3>
                        Lifetime access to paid courses
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
