[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-cors-headers = "*"
pillow = "*"
django-ordered-model = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"

[requires]
python_version = "3.9"
