.card-input{
    font-size: 15px;
    height: 54px;
    cursor: text;
    padding: 18px;
    margin-bottom: 20px;
}

.card-error-box{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(255, 5, 5, 0.226);
    margin-bottom: 15px;
    border-radius: 3px;
}

.card-error-icon{
    fill: red;
    height: 20px;
    width: 20px;
}

.card-error-message{
    margin-left: 10px;
    font-size: 15px;
}

.ordering-sub-top{
    padding-top: 5px;
}