<section class="ordering">
    <div class="container">
        <div class="ordering-wrap">
            <div class="ordering-left">
                <h2 class="title title-left">Checkout</h2>
                <sub>Billing Address</sub>
                <select class="select select-country select-big">
                    <option value="value">Россия</option>
                </select>
                <div class="deliever-choise">
                    <label class="label-radio">
                        <input type="radio" name="deliver" checked=True>
                        <span>New Payment Cart</span>
                    </label>
                    <label class="label-radio">
                        <input type="radio" name="deliver">
                        <span>PayPal <img src="assets/images/payPal.svg" alt="Alternate Text"></span>
                    </label>
                </div>
                <div class="ordering-box-form">
                    <input class="input" type="text" name="name" placeholder="Name on Card" required="">
                    <input class="input" type="text" name="name" placeholder="Card Number" required="">
                    <div class="double-input">
                        <input class="input" type="text" name="name" placeholder="MM/YY" required="">
                        <input class="input" type="text" name="name" placeholder="Security Code" required="">
                    </div>
                    <input class="input" type="text" name="name" placeholder="Zip/Postal Code" required="">
                    <label class="checkbox">
                        <input type="checkbox" name="value">
                        <span>Remember this Card</span>
                    </label>
                </div>

                <h2 class="title title-left">Order Details</h2>
                <div class="ordering-details-wrap">
                    <div class="ordering-details-block">
                        <div class="ordering-details-content">
                            <img src="assets/images/order-small.png" alt="Alternate Text">
                            <p>PHP v.7+ и MySQL с нуля</p>
                        </div>
                        <p class="ordering-details-cost">129.99$</p>
                    </div>
                </div>
            </div>
            <div class="ordering-right">
                <h4>Summary</h4>
                <div class="ordering-sub-top">
                    <p>Original price</p>
                    <p>129.00$</p>
                </div>
                <div class="ordering-sub-bottom">
                    <p>Total:</p>
                    <p>129.00$</p>
                </div>
                <p class="ordering-text">
                    AStudy is required by law to collect applicable transaction taxes for purchases made in certain tax jurisdictions.
                </p>
                <p class="ordering-text">
                    By completing your purchase you agree to these <a href="#">Terms of Service.</a>
                </p>
                <a href="#" class="btn-blue">Complete Payment</a>
            </div>
        </div>
    </div>
</section>