<section class="ordering">
    <div class="container">
        <div class="ordering-wrap">
            <div class="ordering-left">
                <h2 class="title title-left">Checkout</h2>
                <sub>Billing Address</sub>
                <select class="select select-country select-big" [(ngModel)]="country">
                    <option [ngValue]="'Belarus'" selected>Belarus</option>
                </select>
                <div class="deliever-choise">
                    <label class="label-radio">
                        <input type="radio" value="newPaymentCard" name="deliver" [checked]="true" [(ngModel)]="paymentMethod" #newPaymentCard>
                        <span>New Payment Card</span>
                    </label>
                    <label class="label-radio">
                        <input type="radio" value="paypal" name="deliver" [(ngModel)]="paymentMethod">
                        <span>PayPal <img src="assets/images/payPal.svg" alt="Alternate Text"></span>
                    </label>
                </div>
                
                <form class="ordering-box-form" *ngIf="newPaymentCard.checked">
                    <input class="input card-input" type="text" name="name" placeholder="Name on Card" required [(ngModel)]="cardHolderName">
                    <div class="custom-card-input" #cardNumber></div>
                    <div class="double-input">
                        <div class="custom-card-input" #cardExpiry></div>
                        <div class="custom-card-input" #cardCvc></div>
                    </div>
                    <input class="input card-input" type="text" name="zip" maxlength="6" placeholder="Zip/Postal Code" required [(ngModel)]="cardHolderZip">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        <span>Remember this Card</span>
                    </label>
                </form>

                <p>{{cardErrors}}</p>

                <h2 class="title title-left">Order Details</h2>
                <div class="ordering-details-wrap">
                    <div class="ordering-details-block">
                        <div class="ordering-details-content">
                            <img src="assets/images/order-small.png" alt="Alternate Text">
                            <p>PHP v.7+ и MySQL с нуля</p>
                        </div>
                        <p class="ordering-details-cost">129.99$</p>
                    </div>
                </div>
            </div>
            <div class="ordering-right">
                <h4>Summary</h4>
                <div class="ordering-sub-top">
                    <p>Original price</p>
                    <p>129.00$</p>
                </div>
                <div class="ordering-sub-bottom">
                    <p>Total:</p>
                    <p>{{total}}</p>
                </div>
                <p class="ordering-text">
                    AStudy is required by law to collect applicable transaction taxes for purchases made in certain tax jurisdictions.
                </p>
                <p class="ordering-text">
                    By completing your purchase you agree to these <a href="#">Terms of Service.</a>
                </p>
                <button class="btn-blue" (click)="handleCardConfirmation()">Complete Payment</button>
            </div>
        </div>
    </div>
</section>