<section class="course-banner">
    <div class="container">
        <div class="cource-info-box">
            <div class="course-banner-block">
                <h4>PHP Работа с графикой</h4>
                <p class="cource-name">Работа с графическими объектами на PHP</p>
                <div class="cource-rating">
                    <p class="count-star">4,5</p>
                    <ul class="rating-list">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="rating-half"></li>
                    </ul>
                    <p class="rating-course">(51 оценка) 5 учеников</p>
                </div>
                <div class="cource-main-info">
                    <p>
                        <img src="assets/images/cource-icon-1.svg" alt="Alternate Text">
                        <span>Последнее обновление: 8/2018</span>
                    </p>
                    <p>
                        <img src="assets/images/cource-icon-2.svg" alt="Alternate Text">
                        <span>русский</span>
                    </p>
                </div>
                <div class="cource-btns">
                    <a href="#" class="white-icon-btn">
                        <span>Добавить в желаемое</span>
                        <img src="assets/images/like-icon.svg" alt="Alternate Text">
                    </a>
                    <a href="#" class="white-icon-btn">
                        <span>Поделиться</span>
                        <img src="assets/images/share-white-icon.svg" alt="Alternate Text">
                    </a>
                </div>
            </div>

            <div class="about-cource">
                <a href="#" class="cource-video-link">
                    <img class="course-photo" src="assets/images/single-cource-photo-1.jpg" alt="Alternate Text">
                    <div class="cource-video-content">
                        <img src="assets/images/play.svg" alt="Alternate Text">
                        <p>Просмотреть этот курс</p>
                    </div>
                </a>
                <div class="about-cource-box">
                    <div class="about-cource-price">
                        <b>11,99 $</b>
                    </div>
                    <a class="red-btn open-modal" data-openmodal="modal-basket">Добавить в корзину</a>
                    <a href="#" class="btn-white gray-border">Купить сейчас</a>
                    <h4>Этот курс включает:</h4>
                    <ul class="include-list">
                        <li>
                            <img src="assets/images/include-icon-1.svg" alt="Alternate Text">
                            <p>3ч видео по запросу</p>
                        </li>
                        <li>
                            <img src="assets/images/include-icon-2.svg" alt="Alternate Text">
                            <p>Полный пожизненный доступ</p>
                        </li>
                        <li>
                            <img src="assets/images/include-icon-3.svg" alt="Alternate Text">
                            <p>Доступ через мобильные устройства и телевизор</p>
                        </li>
                        <li>
                            <img src="assets/images/include-icon-4.svg" alt="Alternate Text">
                            <p>Сертификат об окончании</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-wrap">
    <div class="container">
        <div class="cource-left-box">
            <div class="cource-fist-box cource-gray-box">
                <h3 class="title title-left">Чему вы научитесь</h3>
                <div class="accordion" [ngClass]="{'active': openedGoalsList }">
                    <div class="accordion-content">
                        <ul class="what-learning-list">
                            <li>Комфортная работа с Microsoft Excel</li>
                            <li>Профессиональное форматирование таблиц</li>
                            <li>Быть намного быстрее, выполняя обычные задачи</li>
                            <li>Создавайте профессиональные диаграммы в Microsoft Excel</li>
                            <li>Без труда работайте с большими объемами данных</li>
                            <li>Понять принципы бухгалтерского учета и бухгалтерского учета</li>
                            <li>Постройте прибыль и убыток компании с нуля</li>
                            <li>Создайте баланс компании с нуля</li>
                            <li>Провести анализ финансовой отчетности</li>
                            <li>Понимать важность выбора времени с точки зрения</li>
                            <li>Комфортная работа с Microsoft Excel</li>
                            <li>Профессиональное форматирование таблиц</li>
                            <li>Быть намного быстрее, выполняя обычные задачи</li>
                            <li>Создавайте профессиональные диаграммы в Microsoft Excel</li>
                            <li>Без труда работайте с большими объемами данных</li>
                            <li>Понять принципы бухгалтерского учета и бухгалтерского учета</li>
                            <li>Постройте прибыль и убыток компании с нуля</li>
                            <li>Создайте баланс компании с нуля</li>
                            <li>Провести анализ финансовой отчетности</li>
                            <li>Понимать важность выбора времени с точки зрения</li>
                        </ul>
                    </div>
                    <div class="accordion-btn" (click)="switchGoalsListOpenMode()"></div>
                </div>
            </div>

            <div class="cource-box-content">
                <h3 class="title title-left">Требования:</h3>
                <ul class="affiliate-list">
                    <li>Абсолютно никакого опыта не требуется. Мы начнем с основ и постепенно будем наращивать ваши знания. Все в порядке.</li>
                    <li>Вам понадобится Microsoft Excel 2010, 2013, 2016 или 2020.</li>
                    <li>Вам понадобится Microsoft PowerPoint 2010, 2013, 2016 или 2020.</li>
                </ul>
            </div>

            <div class="cource-box-content">
                <h3 class="title title-left">Описание:</h3>
                <div class="accordion" [ngClass]="{'active': openedDescription}">
                    <div class="accordion-content">
                        <div class="cource-description">
                            <h4>** Обновлено в августе 2020 года! **</h4>
                            <p>
                                «Если вы пытаетесь подготовиться к будущей карьере в области финансов, но все еще хотите усовершенствовать свои знания в этой области, курс« Полный курс финансового аналитика »может идеально вам подойти», -  Business Insider
                            </p>
                            <p>
                                «Карьера финансового аналитика - одна из самых высокооплачиваемых вакансий начального уровня на рынке».
                            </p>
                            <p>
                                «Даже на самых сложных рынках труда лучшие кандидаты находят отличные должности», -  Forbes
                            </p>
                            <p>
                                Вам просто нужно найти способ приобрести практические навыки, которые дадут вам преимущество перед другими кандидатами.
                            </p>
                            <p>
                                «Если вы пытаетесь подготовиться к будущей карьере в области финансов, но все еще хотите усовершенствовать свои знания в этой области, курс« Полный курс финансового аналитика »может идеально вам подойти», -  Business Insider
                            </p>
                            <p>
                                «Карьера финансового аналитика - одна из самых высокооплачиваемых вакансий начального уровня на рынке».
                            </p>
                            <p>
                                «Даже на самых сложных рынках труда лучшие кандидаты находят отличные должности», -  Forbes
                            </p>
                            <p>
                                Вам просто нужно найти способ приобрести практические навыки, которые дадут вам преимущество перед другими кандидатами.
                            </p>
                            <p>
                                «Если вы пытаетесь подготовиться к будущей карьере в области финансов, но все еще хотите усовершенствовать свои знания в этой области, курс« Полный курс финансового аналитика »может идеально вам подойти», -  Business Insider
                            </p>
                            <p>
                                «Карьера финансового аналитика - одна из самых высокооплачиваемых вакансий начального уровня на рынке».
                            </p>
                            <p>
                                «Даже на самых сложных рынках труда лучшие кандидаты находят отличные должности», -  Forbes
                            </p>
                            <p>
                                Вам просто нужно найти способ приобрести практические навыки, которые дадут вам преимущество перед другими кандидатами.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-btn" (click)="switchDescriptionOpenMode()"></div>
                </div>
            </div>

            <div class="cource-gray-box">
                <h3 class="title title-left">Избраннный отзыв</h3>

                <div class="reviews-single-box">
                    <div class="reviews-single-top">
                        <div class="reviews-single-photo">
                            <img src="assets/images/person-photo-1.png" alt="Alternate Text">
                        </div>
                        <div class="reviews-single-info">
                            <h4>Андре Феррейра Миранда</h4>
                            <p>3 курса</p>
                            <p>1 отзыв</p>
                        </div>
                    </div>
                    <div class="review-rating">
                        <ul class="rating-list rating-big">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="rating-half"></li>
                        </ul>
                        <p>4 месяца назад</p>
                    </div>
                    <div class="reviews-single-content">
                        <p>
                            Мне очень понравились уроки Excel, которые помогли мне улучшить свои знания. Остальные классы также очень интересны,
                            с&nbsp;множеством практических примеров, которые позволяют мне полностью понять теорию, лежащую в&nbsp;основе этого.
                            Также курс ведется на&nbsp;английском языке, что позволяет мне учиться двумя способами. Сам класс и&nbsp;как пользоваться терминологией на&nbsp;английском языке.
                        </p>
                    </div>
                    <div class="is-helpful-review">
                        <p>Этот отзыв оказался полезным?</p>
                        <div class="helpful-review-btns">
                            <span class="like-btn"><img src="assets/images/like.svg" alt="Alternate Text"></span>
                            <span class="dislike-btn"><img src="assets/images/dislike.svg" alt="Alternate Text"></span>
                            <a href="#">Пожаловаться</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cource-box-content">
                <div class="faq-wrap faq-cource">
                    <div class="faq-block">
                        <div class="faq-title">
                            <h3>Введение</h3>
                            <p>
                                4 лекции
                                <span>52 минуты</span>
                            </p>
                        </div>
                        <div class="faq-info">
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-title">
                            <h3>Основы языка PHP</h3>
                            <p>
                                4 лекции
                                <span>52 минуты</span>
                            </p>
                        </div>
                        <div class="faq-info">
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-title">
                            <h3>Практика по созданию простой CMS</h3>
                            <p>
                                4 лекции
                                <span>52 минуты</span>
                            </p>
                        </div>
                        <div class="faq-info">
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                            <div class="faq-sub">
                                <div class="faq-sub-top">
                                    <h3 class="faq-cource-name">
                                        <img src="assets/images/play-small.svg" alt="Alternate Text">
                                        <span>Введение в курс</span>
                                    </h3>
                                    <div class="faq-cource-info">
                                        <a href="#">Предпросмотр</a>
                                        <p>07:06</p>
                                    </div>
                                </div>
                                <div class="faq-sub-content">
                                    <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="show-more-cource btn-blue big-blue-btn" (click)="openAllSections()" [ngStyle]="{'display' : openedAllSections ? 'none' : 'flex'}">Еще 1 раздела</a>

                <div class="faq-cource-hide" [ngStyle]="{'display' : openedAllSections ? 'block' : 'none'}">

                    <div class="faq-wrap faq-cource">
                        <div class="faq-block">
                            <div class="faq-title">
                                <h3>Введение</h3>
                                <p>
                                    4 лекции
                                    <span>52 минуты</span>
                                </p>
                            </div>
                            <div class="faq-info">
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="faq-block">
                            <div class="faq-title">
                                <h3>Работа с сетью</h3>
                                <p>
                                    4 лекции
                                    <span>52 минуты</span>
                                </p>
                            </div>
                            <div class="faq-info">
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-block">
                            <div class="faq-title">
                                <h3>Дополнительные возможности PHP</h3>
                                <p>
                                    4 лекции
                                    <span>52 минуты</span>
                                </p>
                            </div>
                            <div class="faq-info">
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/question-icon.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                                <div class="faq-sub">
                                    <div class="faq-sub-top">
                                        <h3 class="faq-cource-name">
                                            <img src="assets/images/play-small.svg" alt="Alternate Text">
                                            <span>Введение в курс</span>
                                        </h3>
                                        <div class="faq-cource-info">
                                            <a href="#">Предпросмотр</a>
                                            <p>07:06</p>
                                        </div>
                                    </div>
                                    <div class="faq-sub-content">
                                        <p>Это ознакомительный урок, в котором я опишу о чем будет курс и как он будет проходить. Опишу структуру курса, какие материалы будут прилагаться к каждому занятию.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="cource-box-content">
                <h2 class="title title-left">Отзывы студентов</h2>
                <div class="rate-student">
                    <div class="rata-cource">
                        <h4>3.1</h4>
                        <ul class="rating-list rating-big">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="rating-empty"></li>
                            <li class="rating-empty"></li>
                        </ul>
                        <p>Рейтинг курса</p>
                    </div>
                    <ul class="rate-cource-list">
                        <li class="rate-line">
                            <span class="rate-width">
                                <span style="width:34%;"></span>
                            </span>
                            <ul class="rating-list rating-big">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="rating-empty"></li>
                            </ul>
                            <p>34</p>
                        </li>
                        <li class="rate-line">
                            <span class="rate-width">
                                <span style="width:33%;"></span>
                            </span>
                            <ul class="rating-list rating-big">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                            </ul>
                            <p>33</p>
                        </li>
                        <li class="rate-line">
                            <span class="rate-width">
                                <span style="width:10%;"></span>
                            </span>
                            <ul class="rating-list rating-big">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                            </ul>
                            <p>10</p>
                        </li>
                        <li class="rate-line">
                            <span class="rate-width">
                                <span style="width:7%;"></span>
                            </span>
                            <ul class="rating-list rating-big">
                                <li></li>
                                <li></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                            </ul>
                            <p>7</p>
                        </li>
                        <li class="rate-line">
                            <span class="rate-width">
                                <span style="width:16%;"></span>
                            </span>
                            <ul class="rating-list rating-big">
                                <li></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                                <li class="rating-empty"></li>
                            </ul>
                            <p>16</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cource-box-content">
                <h2 class="title title-left">Отзывы</h2>
                <div class="reviews-form">
                    <input class="search-big" type="text" name="search" placeholder="Поиск по отзывам">
                    <select class="select select-big">
                        <option value="all">Все оценки</option>
                        <option value="new">Только нвоые оценки</option>
                        <option value="old">Только старые оценки</option>
                    </select>
                </div>

                <div class="reviews-list">
                    <div class="accordion">
                        <div class="accordion-content accordion140">
                            <div class="reviews-single-box">
                                <div class="reviews-single-top">
                                    <div class="reviews-single-photo">
                                        <img src="assets/images/person-photo-1.png" alt="Alternate Text">
                                    </div>
                                    <div class="reviews-single-info">
                                        <h4>Андре Феррейра Миранда</h4>
                                        <div class="review-rating">
                                            <ul class="rating-list rating-big">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li class="rating-half"></li>
                                            </ul>
                                            <p>4 месяца назад</p>
                                        </div>
                                        <div class="reviews-single-content">
                                            <p>
                                                Мне очень понравились уроки Excel, которые помогли мне улучшить свои знания. Остальные классы также очень интересны, с&nbsp;множеством практических примеров, которые позволяют мне полностью понять теорию, лежащую в&nbsp;основе этого. Также курс ведется на&nbsp;английском языке, что позволяет мне учиться двумя способами. Сам класс и&nbsp;как пользоваться терминологией на&nbsp;английском языке.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-btn-box">
                            <div class="accordion-btn"></div>
                            <div class="is-helpful-review">
                                <p>Этот отзыв оказался полезным?</p>
                                <div class="helpful-review-btns">
                                    <span class="like-btn"><img src="assets/images/like.svg" alt="Alternate Text"></span>
                                    <span class="dislike-btn"><img src="assets/images/dislike.svg" alt="Alternate Text"></span>
                                    <a href="#">Пожаловаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-content accordion140">
                            <div class="reviews-single-box">
                                <div class="reviews-single-top">
                                    <div class="reviews-single-photo">
                                        <img src="assets/images/person-photo-1.png" alt="Alternate Text">
                                    </div>
                                    <div class="reviews-single-info">
                                        <h4>Андре Феррейра Миранда</h4>
                                        <div class="review-rating">
                                            <ul class="rating-list rating-big">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li class="rating-half"></li>
                                            </ul>
                                            <p>4 месяца назад</p>
                                        </div>
                                        <div class="reviews-single-content">
                                            <p>
                                                Мне очень понравились уроки Excel, которые помогли мне улучшить свои знания. Остальные классы также очень интересны, с&nbsp;множеством практических примеров, которые позволяют мне полностью понять теорию, лежащую в&nbsp;основе этого. Также курс ведется на&nbsp;английском языке, что позволяет мне учиться двумя способами. Сам класс и&nbsp;как пользоваться терминологией на&nbsp;английском языке.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-btn-box">
                            <div class="accordion-btn"></div>
                            <div class="is-helpful-review">
                                <p>Этот отзыв оказался полезным?</p>
                                <div class="helpful-review-btns">
                                    <span class="like-btn"><img src="assets/images/like.svg" alt="Alternate Text"></span>
                                    <span class="dislike-btn"><img src="assets/images/dislike.svg" alt="Alternate Text"></span>
                                    <a href="#">Пожаловаться</a>
                                </div>
                            </div>
                            <div class="review-answer">
                                <div class="review-answer-top">
                                    <div class="review-answer-photo">
                                        <img src="assets/images/person-photo-2.png" alt="Alternate Text">
                                    </div>
                                    <div class="review-answer-info">
                                        <h4>Петр Орлов</h4>
                                        <p>
                                            <span>Ответ преподавателя</span>
                                            Год назад
                                        </p>
                                    </div>
                                </div>
                                <div class="review-answer-content">
                                    <p>Здравствуйте, Владимир! Спасибо большое за развернутый комментарий! Это мой первый курс, потому соглашусь, что минусов может быть много. Учту Ваши замечания и при доработках этого и в следующих буду стараться сделать лучше.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-content accordion140">
                            <div class="reviews-single-box">
                                <div class="reviews-single-top">
                                    <div class="reviews-single-photo">
                                        <img src="assets/images/person-photo-1.png" alt="Alternate Text">
                                    </div>
                                    <div class="reviews-single-info">
                                        <h4>Андре Феррейра Миранда</h4>
                                        <div class="review-rating">
                                            <ul class="rating-list rating-big">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li class="rating-half"></li>
                                            </ul>
                                            <p>4 месяца назад</p>
                                        </div>
                                        <div class="reviews-single-content">
                                            <p>
                                                Мне очень понравились уроки Excel, которые помогли мне улучшить свои знания. Остальные классы также очень интересны, с&nbsp;множеством практических примеров, которые позволяют мне полностью понять теорию, лежащую в&nbsp;основе этого. Также курс ведется на&nbsp;английском языке, что позволяет мне учиться двумя способами. Сам класс и&nbsp;как пользоваться терминологией на&nbsp;английском языке.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-btn-box">
                            <div class="accordion-btn"></div>
                            <div class="is-helpful-review">
                                <p>Этот отзыв оказался полезным?</p>
                                <div class="helpful-review-btns">
                                    <span class="like-btn"><img src="assets/images/like.svg" alt="Alternate Text"></span>
                                    <span class="dislike-btn"><img src="assets/images/dislike.svg" alt="Alternate Text"></span>
                                    <a href="#">Пожаловаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="big-empty-btn">Соообщить о нарушении</a>
                </div>
            </div>
        </div>
    </div>
</section>