<header class="header">

    <div class="header-desctop">
        <a routerLink="/" class="header-logo"><img src="assets/images/header-logo.png" alt="Alternate Text" width="73.2px" height="30px"></a>
        <div class="categories-menu btn-header-menu">
            <div class="categories-menu-title">Categories</div>
            <div class="categories-main-menu header-menu-box">
                <ul class="main-menu-list">
                    <li>
                        <a href="#">
                            <span class="menu-icon"><img src="assets/images/menu-icon-2.svg" alt="Alternate Text"></span>
                            <span class="menu-name arrow">Бизнес</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">JavaScript</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">React</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">Angular</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">CSS</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">PHP</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">Node.Js</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">Python</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-name">WordPress</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <input class="header-search" type="text" name="header-search" placeholder="Search for anything">
        <a href="basket.html" class="header-basket"><img src="assets/images/basket-icon.svg" alt="Alternate Text"></a>
        <a href="#" class="btn-empty header-btn-empty">Feedback</a>
        <a class="btn-blue header-btn-blue open-modal" data-openmodal="modal-form">Personal account</a>
    </div>

    <div class="header-mobile">
        <div class="open-mobile-menu" (click)="onOpenMenu()"><img src="assets/images/hamburger-menu.svg" alt="Alternate Text"></div>
        <a href="index.html" class="header-logo"><img src="assets/images/header-logo.png" alt="Alternate Text" width="73.2px" height="30px"></a>
        <input type="text" name="search" class="header-mobile-search">

        <div class="mobile-menu-wrap" [ngClass]="{'active': menuOpened}">
            <div class="mobile-menu-box">
                <div class="mobile-menu-block">
                    <ul class="header-mobile-links">
                        <li><a class="open-modal open-form" data-formid="0" data-openmodal="modal-form">Sign in</a></li>
                        <li><a class="open-modal open-form" data-formid="1" data-openmodal="modal-form">Sign up</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-block">
                    <ul class="mobile-menu-list">
                        <li><a href="index.html"><span class="mobile-menu-name">JavaScript</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">React</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">Angular</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">CSS</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">PHP</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">Node.Js</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">Python</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">WordPress</span></a></li>
                    </ul>
                </div>
                <div class="mobile-menu-block">
                    <ul class="mobile-menu-list">
                        <li><a href="index.html"><span class="mobile-menu-name">Share with friends</span></a></li>
                        <li><a href="index.html"><span class="mobile-menu-name">Help</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="close-mobile-menu" (click)="onCloseMenu()"><img src="assets/images/close-icon.svg" alt="Alternate Text"></div>
        </div>
    </div>
</header>