<section class="courses">
    <div class="container">
        <h2 class="title title-left">{{ title }}</h2>
        <p class="courses-paragraph">The topic «{{ title }}» is related to <span>Development</span>, <span>IT and Software</span>, <span>Web development</span>, <span>Programming languages</span></p>
        <div class="courses-sub-info">
            <img src="assets/images/users.svg" alt="Alternate Text">
            <p>103 students study the topic "{{ title }}" on AStudy</p>
        </div>
        <h2 class="title title-left">{{ title }} courses</h2>
        <div class="courses-wrap">
            <div class="all-courses">
                <a href="#" class="courses-block">
                    <div class="courses-photo">
                        <img src="assets/images/courses-photo-1.jpg" alt="Alternate Text">
                    </div>
                    <div class="courses-content">
                        <div class="courses-info">
                            <h3>PHP v.7+ и MySQL с нуля</h3>
                            <p class="courses-abut-info">Начните с основ и создайте полноценную CMS!</p>
                            <div class="cource-rating">
                                <p class="count-star">4,5</p>
                                <ul class="rating-list">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="rating-half"></li>
                                </ul>
                                <p class="rating-count">51</p>
                            </div>
                            <ul class="cource-info-list">
                                <li>54 лекций</li>
                                <li>Общая продолжительность 17 ч 35 мин</li>
                            </ul>
                            <span class="small-btn">Лидер продаж</span>
                        </div>
                        <div class="courses-price">
                            <p>$ 52.99</p>
                            <s>$ 123.99</s>
                        </div>
                    </div>
                </a>
                <a href="#" class="courses-block">
                    <div class="courses-photo">
                        <img src="assets/images/courses-photo-2.jpg" alt="Alternate Text">
                    </div>
                    <div class="courses-content">
                        <div class="courses-info">
                            <h3>Основы PHP программирования для начинающих</h3>
                            <p class="courses-abut-info">Начните с основ и создайте полноценную CMS!</p>
                            <div class="cource-rating">
                                <p class="count-star">4,5</p>
                                <ul class="rating-list">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="rating-half"></li>
                                </ul>
                                <p class="rating-count">51</p>
                            </div>
                            <ul class="cource-info-list">
                                <li>54 лекций</li>
                                <li>Общая продолжительность 17 ч 35 мин</li>
                            </ul>
                        </div>
                        <div class="courses-price">
                            <p>$ 52.99</p>
                            <s>$ 123.99</s>
                        </div>
                    </div>
                </a>
                <a href="#" class="courses-block">
                    <div class="courses-photo">
                        <img src="assets/images/courses-photo-3.jpg" alt="Alternate Text">
                    </div>
                    <div class="courses-content">
                        <div class="courses-info">
                            <h3>PHP работа с массивами</h3>
                            <p class="courses-abut-info">Начните с основ и создайте полноценную CMS!</p>
                            <div class="cource-rating">
                                <p class="count-star">4,5</p>
                                <ul class="rating-list">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="rating-half"></li>
                                </ul>
                                <p class="rating-count">51</p>
                            </div>
                            <ul class="cource-info-list">
                                <li>54 лекций</li>
                                <li>Общая продолжительность 17 ч 35 мин</li>
                            </ul>
                            <span class="green-btn">Новое</span>
                        </div>
                        <div class="courses-price">
                            <p>$ 52.99</p>
                            <s>$ 123.99</s>
                        </div>
                    </div>
                </a>
                <ul class="pagination-list">
                    <li><a href="#"><img src="assets/images/arr-pagin.jpg" alt="Alternate Text"></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><span>...</span></li>
                    <li><a href="#">44</a></li>
                    <li><a href="#"><img src="assets/images/arr-pagin.jpg" alt="Alternate Text"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>